footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-content: center;
    
    .footer-title-container {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font-family: "IBM Plex Mono", monospace;
            font-size: 0.875em;
            font-weight: 400;
            color: $main-letter-color;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
        }
    }

    .footer-social-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        text-align: center;

        a {
            text-decoration: none;

            &:hover {
                color: $button-bg;
            }
        }
    }
}