* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    height: 70px;
    padding: 10px 0;
    background-color: $white-color;

    .menu-wrap {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;

        .logo-img {
            height: 24px;
            width: 24px;
        }

        .menu-icon {
            line-height: 24px;
        }

        nav {
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            background-color: $navbar-blue;
            color: $white-color;
            font-family: "IBM Plex Mono", monospace;

            ul {
                list-style-type: none;
                max-height: 0;
                overflow: hidden;

                li {
                    margin-left: 12px;

                    a {
                        display: inline-block;
                        color: $white-color;
                        margin: 5px;
                        font-size: 16px;
                        letter-spacing: 0;
                        line-height: 28px;
                        text-decoration: none;

                        &:hover, &:focus {
                            color: $letter-color-green;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }

        // Checkbox hack
        #checkbox {
            display: none;

            &:checked ~ nav ul {
                max-height: 224px;
                padding: 15px 0;
                transition: all 0.5s;
             }
        }
    }
}

