@media screen and (min-width: 980px) {

    // -------------------- START HEADER --------------------
    header {

        .topnav-container {
            padding: 30px 100px;

            a {
                width: 2.30em;
                height: 2.30em;
        
                .logo-img {
                    width: 100%;
                }
            }

            nav {

                input {
                    display: none;
                }

                .bar1, .bar2, .bar3 {
                    display: none;
                }

                ul {
                    position: relative; // position the nav
                    top: -5px;
                    max-height: 50px;
                    background-color: transparent;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: row;

                    li {

                        a {
                            color: $main-letter-color;
                            padding-left: 30px;
                        }
                    }
                }
            }
        }

        .main-title-container {
            margin-left: 200px;
            padding-top: 150px;

            h1 {
                max-width: 100%;
                font-size: 4em;

                .dot-blue {
                    color: $navbar-blue;
                }
            }

            .paragraph-desktop {
                max-width: 628px;
                height: 48px;
                font-size: 1em;
                font-weight: 500;
                font-family: "IBM Plex Mono", monospace;
                color: $main-letter-color;
                letter-spacing: 0;
                line-height: 1.375em;
                margin-top: 15px;
                display: block;
            }

            .paragraph-mobile {
                display: none;
            }

            button {
                width: 226px;
                height: 56px;
            }
        }
    } // -------------------- END HEADER --------------------

    // -------------------- START MAIN --------------------
    main {

        // -------------------- START PODCAST SECTION --------------------
        .podcast-section {
            height: 1042.6px;

            .podcast-bg-top {

                h2 {
                    padding-top: 50px;
                    margin-left: 215px;
                    font-size: 3em;
                }

                .embed-container {
                    flex-flow: row wrap;
                    padding-right: 30px;
                    padding-left: 30px;

                    .embed-column {
                        flex: 50%;
                        max-width: 50%;
                        padding-left: 30px;
                        padding-right: 30px;

                        iframe {
                            height: 232px;
                            margin-top: 45px;
                        }
                    }
                }
            }
        } // -------------------- END PODCAST SECTION --------------------

        // -------------------- START US SECTION --------------------
        .us-section {

            .us-container {
                flex-flow: row wrap;
                justify-content: space-evenly;
                margin-bottom: -120px; // because the mobile photo is moved to overflow the top

                .phone-img-column {
                    flex: 30%;
                    max-width: 30%;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    top: -150px;
                    left: 70px;

                    img {
                        height: 660px;
                        max-width: 457.6px;
                    }
                }

                .us-column {
                    flex: 40%;
                    max-width: 40%;
                    position: relative;
                    top: 0;

                    h2 {
                        font-size: 3em;
                        max-width: 470px;
                    }

                    p {
                        font-size: 1em;
                        font-weight: 500;
                        max-width: 470px;
                    }
                }
            }
        } // -------------------- END US SECTION --------------------

        // -------------------- START PHOTOS SECTION --------------------
        .photos-section {

            h2 {
                font-size: 3em;
                margin-left: 215px;
                margin-bottom: 30px;
            }

            .photos-container {
                flex-direction: row;
                flex-wrap: nowrap;

                img {
                    width: 33.33%;
                }
            }
        } // -------------------- END PHOTOS SECTION --------------------

        // -------------------- START TOPICS SECTION --------------------
        .topics-section {

            h2 {
                font-size: 3em;
                margin-left: 215px;
                margin-bottom: 50px;
            }

            .topics-container {
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
    
                figure {
                    flex-basis: 270px;

                    img {
                        margin-bottom: 15px;
                    }
    
                    figcaption {
                        max-width: 200px;
                    }

                    &:nth-child(2) {
                        margin-bottom: 30px; // restore the 2nd figure
                    }
                }
            }
        } // -------------------- END TOPICS SECTION --------------------

        // -------------------- START NEWS SECTION --------------------
        .news-section {
            height: 518px;

            .news-bg {

                .news-container {
                    top: 50px;
                    align-items: center;

                    h2 {
                        font-size: 3em;
                    }

                    button {
                        width: 345px;
                        height: 56px;
                        font-size: 1.125em;
                    }
                }
            }
        } // -------------------- END NEWS SECTION --------------------
    } // -------------------- END MAIN --------------------

    // -------------------- START FOOTER --------------------
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 30px 60px;
        
        .footer-title-container {
    
            h3 {
                font-size: 1em;
            }
        }
    
        .footer-social-container {
            margin-top: 0px;
            justify-content: space-around;
            width: 300px;
            align-items: center;
        }
    }
}